/* app/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #08050d;
  color: #f3f4f6;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

/* Biar scrollbar-nya juga gelap & ungu */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #08050d;
}

::-webkit-scrollbar-thumb {
  background: #2e1065;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b44fff;
}